/* <---> Navbar section <---> */

/* .active {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #6bbe92;
  text-underline-offset: 8px;
} */

nav {
  height: 140px;
  border: 2px solid #000000;
  background: #374954;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-top: 50px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  opacity: 0.8;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

nav ul li a:hover {
  opacity: 1;
  color: #000000;
}

.image-nav {
  width: 30px;
  height: 30px;
  margin-left: 45px;
}

.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 80px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  background-color: black;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}
